In [6]:
print('Brahmastra', 2022)

Brahmastra 2022

In [7]:
print('This is a line')
print('Another line')
print('and the final text line')

This is a line
Another line
and the final text line

In [10]:
a=10
print(a)

10

In [12]:
b=20
c=50
print(b,c)

20 50

In [15]:
city='Lucknow'
state='Uttar Pradesh'
name='Adam'
name='Randolf'
n1, n2='Ajay','Vijay'

In [17]:
food=input()
print(food)

Pizza

In [18]:
a='apple'
type(a)

str

In [19]:
a=101
type(a)

int

In [24]:
a="300+"
print(a, type (a))
b=int(a)
a=int(a)
print(b,type(b))
print(a,type(a))

300+ <class 'str'>

ValueError: invalid literal for int() with base 10: '300+'

In [25]:
a=input("Enter A=")
b=input("Enter B=")
print(type(a), type(b))
a=int(a)
b=int(b)
print(a+b)

<class 'str'> <class 'str'>
50

In [26]:
num1=int(input("Enter num"))
num2=int(input("Enter num 2"))
ans=num1*num2
print(ans)

4460

# operators

Arithematic

In [5]:
X=10
Y=3
X+Y

13

In [2]:
X=10
Y=3
X-Y

7

In [3]:
X=10
Y=3
X*Y

30

In [4]:
X=10
Y=3
X/Y

3.3333333333333335

In [6]:
X=10
Y=3
X//Y

3

In [7]:
X=10
Y=3
X%Y

1

In [8]:
X=10
Y=3
X**Y

1000

Assignment

* / ** % // - Precedence

In [11]:
X=10
X+=5
print("X")

X

In [13]:
X-=10

In [14]:
X*=3

Comparison

In [15]:
X>10

True

In [16]:
Y<3

False

In [20]:
'apple'=='Apple'

False

Logical

In [21]:
X>5 and X>100

False

In [22]:
X>5 or X>1

True

In [24]:
not X>100
// not gives always opposite values//

SyntaxError: invalid syntax (1707673200.py, line 2)

Instance- It is basically used in Data Structures

In [25]:
X is Y

False

In [26]:
X is not Y

True

Membership - in

In [27]:
a = [1,3,8,10,2]

In [30]:
2 in a

True

In [29]:
15 in a

False

- Formatted String and msg

In [34]:
l=10.5
b=6.10
area=l*b
print(l,b,area)

10.5 6.1 64.05

In [35]:
print("{}*{}={}".format(l,b,area))

10.5*6.1=64.05

In [39]:
print(f'{l}*{b}={area}')

10.5*6.1=64.05

In [40]:
print(f'{l}*{b}={area:.1f}')

10.5*6.1=64.0