In [1]:
# List of strings
list1 = ["Yash","Vyom","Aman"]

In [7]:
# List of Numbers
list2 = [1,2,3,4,5,15,25,100]

In [8]:
# Mixed data list
list3 = ['Ravi', 90, 102,93,29,44,"B",False,5.786]

In [9]:
# Nested List
list4 = [[1,2,3],[3,4,5,7],[2,1]]

In [10]:
x = [] # empty list

In [11]:
y = [1] * 10 # duplicated list
print(y)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [12]:
y = [1,2,3] * 10 # duplicated list
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
y + [3,2,3]

[1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 1,
 2,
 3,
 3,
 2,
 3]

In [14]:
z = [1,2,3] + [3,2,3]
print(z)

[1, 2, 3, 3, 2, 3]

In [15]:
a = [1,2,3,4,5,6,7,8,9,10]

In [17]:
ab =list(range(1,101))
print(ab)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [20]:
a = list(range(2,51,2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

# List has 11 methods
- Addition -
   * append
   * insert
   * extend
- deletion -
   * remove
   * pop
   * clear
- utility -
   * count
   * index
   * copy
   * sort
   * reverse

In [21]:
movies = []

In [22]:
movies.append('Black Panther')

In [23]:
print(movies)

['Black Panther']

In [24]:
fav_movie= input("Enter your fav movie:")
movies.append(fav_movie)
print(movies)

['Black Panther', 'The Shawshank Redemption']

In [25]:
for i in range(5):
    movies.append(input("Enter another movie:"))
print(movies)

['Black Panther', 'The Shawshank Redemption', 'se7en', 'Zodiac', 'The prestige', 'nightrunner', 'The girl with the dragon tattoo']

In [26]:
for movie in movies:
    print(f"->{movie.upper()}")

->BLACK PANTHER
->THE SHAWSHANK REDEMPTION
->SE7EN
->ZODIAC
->THE PRESTIGE
->NIGHTRUNNER
->THE GIRL WITH THE DRAGON TATTOO

In [27]:
fruits = ['apple','banana','cherry']
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [29]:
fruits = ['apple','banana','cherry','Guava']
dry_fruits = ['Almond','Cashew','Walnut']
fruits.extend(dry_fruits)
fruits

['apple', 'banana', 'cherry', 'Guava', 'Almond', 'Cashew', 'Walnut']

In [30]:
fruits = ['apple','banana','cherry','Guava']
fruits.sort()
fruits

['Guava', 'apple', 'banana', 'cherry']

In [31]:
movies.sort(reverse=True)
print(movies)

['se7en', 'nightrunner', 'Zodiac', 'The prestige', 'The girl with the dragon tattoo', 'The Shawshank Redemption', 'Black Panther']

In [32]:
movies.sort()
print(movies)

['Black Panther', 'The Shawshank Redemption', 'The girl with the dragon tattoo', 'The prestige', 'Zodiac', 'nightrunner', 'se7en']

In [33]:
movies.remove('nightrunner')

In [34]:
movies

['Black Panther',
 'The Shawshank Redemption',
 'The girl with the dragon tattoo',
 'The prestige',
 'Zodiac',
 'se7en']

In [35]:
movies.pop(3)

'The prestige'

In [36]:
movies

['Black Panther',
 'The Shawshank Redemption',
 'The girl with the dragon tattoo',
 'Zodiac',
 'se7en']

In [37]:
movies.pop() #last element is removed

'se7en'

In [39]:
movies.clear()

In [40]:
x = [1,2,3,45,56,75,44]

In [41]:
x.reverse()
print(x)

[44, 75, 56, 45, 3, 2, 1]

In [43]:
x.count(5)

0

In [44]:
x = [1,2,3,45,56,75,44]
y = x # copy reference

In [45]:
x.append(10)
y.append(20)
print(x)
print(y)

[1, 2, 3, 45, 56, 75, 44, 10, 20]
[1, 2, 3, 45, 56, 75, 44, 10, 20]

In [46]:
z = x.copy()
z.append(100)
x.append(10)
print(x)
print(z)

[1, 2, 3, 45, 56, 75, 44, 10, 20, 10]
[1, 2, 3, 45, 56, 75, 44, 10, 20, 100]

In [47]:
x is y

True

In [48]:
z is y

False

In [49]:
z is x

False