In [1]:
# tuple with mixed datatypes
my_tuple = (1,"Hello",3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [2]:
# nested tuple
my_tuple = ("mouse",[8,4,6],(1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [5]:
# A tuple can also be created without using paranthesis
# this is known as tuple packing
my_tuple = 3,4.6,'Apple'
print(my_tuple)

(3, 4.6, 'Apple')

# Indexing

In [6]:
# Accessing tuple elemnts using indexing

my_tuple = ('p','e',"r",'m','i','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [8]:
# nested tuple

n_tuple = ("mouse",[8,4,6],(1,2,3))

# nested index

print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

# Slicing

In [9]:
# Accessing tuple elements using slicing

my_tuple= ('e','x','c','a','l','i','b','u','r')

In [10]:
# elements to 2nd and 4th
print(my_tuple[1:4])

('x', 'c', 'a')

In [11]:
# elements beginning to 2nd
print(my_tuple[:-7])

('e', 'x')

In [12]:
# elements 8th to end
print(my_tuple[7:])

('u', 'r')

In [13]:
# elements beginning to end
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

In [14]:
# concatenation
print((1,2,3,) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [15]:
# repeat
print(("Repeat")*3)

RepeatRepeatRepeat

In [18]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

## Set

In [19]:
# set of integers
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [20]:
# set of mixed datatypes
my_set = {1.0 , "Oye" , (1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'Oye'}

In [22]:
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [23]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

# Set union

In [25]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print (A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

# Set Intersection

In [28]:
print(A & B)

{4, 5}

In [29]:
A.intersection(B)

{4, 5}

# Set Difference

In [30]:
print(A-B)

{1, 2, 3}

In [31]:
A.difference(B)

{1, 2, 3}

In [32]:
B-A

{6, 7, 8}

# Set Symmetric Difference

In [33]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [34]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [43]:
my_set1 = {"phone,laptop,TV,keyboard"}
my_set2 = {"printer,keyboard,mouse,TV,Laptop"}

In [39]:
my_set2.union(my_set1)

{'phone,laptop,TV,keyboard', 'printer,keyboard,mouse,TV,Laptop'}

In [44]:
my_set1.intersection(my_set2)

set()

In [41]:
my_set2.symmetric_difference(my_set1)

{'phone,laptop,TV,keyboard', 'printer,keyboard,mouse,TV,Laptop'}

In [42]:
my_set1.difference(my_set2)

{'phone,laptop,TV,keyboard'}